// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #48adc1,
  secondary:  #398d9d,
  alternative:#dcf4f9,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #000,
  dark-op-8:  rgba(0, 0, 0, 0.8),
  dark-op-5:  rgba(0, 0, 0, 0.5),
  dark-op-2:  rgba(0, 0, 0, 0.2),
  white:      #fff,
  white-op-8: rgba(255, 255, 255, 0.8),
  white-op-5: rgba(255, 255, 255, 0.5),
  white-op-2: rgba(255, 255, 255, 0.2)
);

// Gradient
$b-gradient-moz: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
$b-gradient-webkit:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
$b-gradient-webkit-linear:-webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
$b-gradient-o: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
$b-gradient-ms: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
$b-gradient-linear: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
$b-gradient-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

// Font weight
$w-thin:     100;
$w-light:    300;
$w-regular:  400;
$w-medium:   500;
$w-bold:     700;
$w-black:    900;

// Font letter spaces
$space-letter-mini: 0.08em;
$space-letter-small: 0.1em;

// Font sizes
$f-small:       .9rem;
$f-h1:           4rem;
$f-h2:           3.5rem;
$f-h3:           3rem;
$f-h4:           2.6rem;
$f-h5:           2.2rem;
$f-h6:           1.3rem;
$f-p:            1rem;
$f-mini-title:   1.6rem;

// spaces
$s-small:     5px;
$s-normal:    10px;
$s-med:       20px;
$s-big:       30px;
$s-n-small:     -5px;
$s-n-normal:    -10px;
$s-n-med:       -20px;
$s-n-big:       -30px;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
