<!-- HEADER -->
<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><small>Torrespacio</small>Servicios</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-item>
      <ion-label>Categorías</ion-label>
      <ion-select [(ngModel)]="categorias">
        <ion-option value="f">Restaurante</ion-option>
        <ion-option value="m">Ocio</ion-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>
<!-- END HEADER -->
<!-- CONTENT -->
<ion-content> 
  <ion-grid>
    <!-- PANEL content noticias /////////////////////////////////////////////////////////////    -->
    <ion-row class="panel-content">
      <ion-col col-12>

        <!-- CARD -->
        <ion-card class="big-card max-card">
          <a class="card-link" href="http://marcodesign.es">
            <img src="https://picsum.photos/592/396"/>
            <ion-card-content class="card-body">
              <ion-card-title>Espacio 33</ion-card-title>  
              <ion-row class="card-footer">
                <ion-col>
                  <ion-note>RESTAURACIÓN | 128 PERS.</ion-note>
                </ion-col>
              </ion-row>
            </ion-card-content> 
          </a>
          <ion-card-content class="card-text">
            <p>El restaurante más alto de España. Perfecto tanto para comidas de empresa, con comedores privados y con los más avanzados sistemas audiovisuales, como para cenas especiales.</p>
          </ion-card-content>
          <ion-item  class="card-buttons">
            <ion-row>
              <ion-col no-padding>
                <button ion-button icon-only>
                  <ion-icon name="chatbubbles"></ion-icon>
                </button>
                <button ion-button icon-only>
                    <ion-icon name="call"></ion-icon>
                </button>
              </ion-col>
              <ion-col text-right no-padding>
                <button ion-button icon-start color="secondary" full (click)="openModal()">
                  <ion-icon name="add"></ion-icon> Más info
                </button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-card>
        <!-- END CARD -->

        <!-- CARD -->
        <ion-card class="big-card max-card">
          <a class="card-link" href="http://marcodesign.es">
            <img src="https://picsum.photos/592/396"/>
            <ion-card-content class="card-body">
              <ion-card-title>Espacio 33</ion-card-title>  
              <ion-row class="card-footer">
                <ion-col>
                  <ion-note>RESTAURACIÓN | 128 PERS.</ion-note>
                </ion-col>
              </ion-row>
            </ion-card-content> 
          </a>
          <ion-card-content class="card-text">
            <p>El restaurante más alto de España. Perfecto tanto para comidas de empresa, con comedores privados y con los más avanzados sistemas audiovisuales, como para cenas especiales.</p>
          </ion-card-content>
          <ion-item  class="card-buttons">
            <ion-row>
              <ion-col no-padding>
                <button ion-button icon-only>
                  <ion-icon name="chatbubbles"></ion-icon>
                </button>
                <button ion-button icon-only>
                  <ion-icon name="call"></ion-icon>
                </button>
              </ion-col>
              <ion-col text-right no-padding>
                <button ion-button icon-start color="secondary" full (click)="openModal()">
                  <ion-icon name="add"></ion-icon> Más info
                </button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-card>
        <!-- END CARD -->

      </ion-col>
    </ion-row>
    <!-- END PANEL content noticias //////////////////////////////////////////////////////////    -->
  </ion-grid> 
</ion-content>
<!-- END CONTENT -->

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button small full color="light" >
        <ion-icon name="alert"></ion-icon> Tienes algún problema? <em>Envíanos un mensaje</em>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<!-- END FOOTER -->