<!-- HEADER -->
<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><small>Torrespacio</small>Muro</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<!-- END HEADER -->
<!-- CONTENT -->
<ion-content> 
  <ion-grid>
    <!-- PANEL header /////////////////////////////////////////////////////////////    -->
    <ion-row class="panel-header">
      <ion-col col-12>
        <!-- CONTENT HEADER -->
        <h1 class="main-title">Bienvenido <strong>Marco López</strong></h1>
        <!-- END CONTENT HEADER -->
      </ion-col>
    </ion-row>
    <!-- END PANEL header /////////////////////////////////////////////////////////////    -->
    <!-- PANEL content noticias /////////////////////////////////////////////////////////////    -->
    <ion-row class="panel-content">
      <ion-col col-12>
        <h3 class="section-title"><strong>Últimas noticias</strong></h3>
        <!-- SLIDE -->
        <ion-slides class="slides-special">
          <ion-slide>
            <!-- CARD -->
            <ion-card class="big-card bg-card">
              <a class="card-link" href="http://marcodesign.es">
                <img src="https://picsum.photos/592/396"/>
                <ion-card-content class="card-body">
                  <ion-card-title>Por encima de todo</ion-card-title>  
                  <ion-row class="card-footer">
                    <ion-col>
                      <p class="card-subtitle">Por: <strong>Helena Rubio</strong></p>
                    </ion-col>
                    <ion-col text-right>
                      <ion-note>22 | 8 | 2018</ion-note>
                    </ion-col>
                  </ion-row>
                </ion-card-content> 
              </a>
            </ion-card>
            <!-- END CARD -->
          </ion-slide>
          <ion-slide>
            <!-- CARD -->
            <ion-card class="big-card bg-card">
              <a href="#" class="card-link">
                <img src="https://picsum.photos/592/396"/>
                <ion-card-content class="card-body">
                  <ion-card-title>Por encima de todo</ion-card-title>  
                  <ion-row class="card-footer">
                    <ion-col>
                      <p class="card-subtitle">Por: <strong>Helena Rubio</strong></p>
                    </ion-col>
                    <ion-col text-right>
                      <ion-note>22 | 8 | 2018</ion-note>
                    </ion-col>
                  </ion-row>
                </ion-card-content> 
              </a>
            </ion-card>
            <!-- END CARD -->
          </ion-slide>
        </ion-slides>
        <!-- END SLIDE -->
        <ion-item class="section-link-footer">
          <button ion-button small outline>Ver todos</button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- END PANEL content noticias //////////////////////////////////////////////////////////    -->
    <!-- PANEL content servicios /////////////////////////////////////////////////////////////    -->
    <ion-row class="panel-content panel-primary">
      <ion-col col-12>
        <h3 class="section-title section-title-light"><strong>Servicios</strong></h3>
        <!-- SLIDE -->
        <ion-slides class="slides-special-compact">
          <ion-slide>
            <!-- CARD -->
            <ion-card class="compact-card">
              <a href="#" ion-item>
                <ion-avatar item-start>
                  <img src="https://picsum.photos/88/88"/>
                </ion-avatar>
                <h4>Espacio 2</h4>
                <p><small>RESTAURACIÓN</small></p>
              </a>
            </ion-card>
            <!-- END CARD -->
          </ion-slide>
          <ion-slide>
            <!-- CARD -->
            <ion-card class="compact-card">
              <a href="#" ion-item>
                <ion-avatar item-start>
                  <img src="https://picsum.photos/88/88"/>
                </ion-avatar>
                <h4>Espacio 2</h4>
                <p><small>RESTAURACIÓN</small></p>
              </a>
            </ion-card>
            <!-- END CARD -->
          </ion-slide>
        </ion-slides>
        <!-- END SLIDE -->
        <ion-item class="section-link-footer section-link-footer-light">
          <button ion-button small outline color="white">Ver todos</button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- END PANEL content servicios //////////////////////////////////////////////////////    -->
    <!-- PANEL content servicios /////////////////////////////////////////////////////////////    -->
    <ion-row class="panel-content panel-light">
      <ion-col col-12>
        <h3 class="section-title"><strong>Directorio de Empresas</strong></h3>
        <!-- SLIDE -->
        <ion-slides class="slides-special-mini">
          <ion-slide>
            <a href="#" full clear><img src="https://picsum.photos/100/100"/></a>   
          </ion-slide>
          <ion-slide>
            <a href="#" full clear><img src="https://picsum.photos/100/100"/></a>  
          </ion-slide>
          <ion-slide>
            <a href="#" full clear><img src="https://picsum.photos/100/100"/></a>  
          </ion-slide>
          <ion-slide>
            <a href="#" full clear><img src="https://picsum.photos/100/100"/></a>  
          </ion-slide>
          <ion-slide>
            <a href="#" full clear><img src="https://picsum.photos/100/100"/></a>   
          </ion-slide>
          <ion-slide>
            <a href="#" full clear><img src="https://picsum.photos/100/100"/></a>  
          </ion-slide>
          <ion-slide>
            <a href="#" full clear><img src="https://picsum.photos/100/100"/></a>  
          </ion-slide>
          <ion-slide>
            <a href="#" full clear><img src="https://picsum.photos/100/100"/></a>  
          </ion-slide>
        </ion-slides>
        <!-- END SLIDE -->
        <ion-item class="section-link-footer">
          <button ion-button small outline color="primary">Ver todos</button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- END PANEL content servicios //////////////////////////////////////////////////////    -->
  </ion-grid> 
</ion-content>
<!-- END CONTENT -->
<!-- FOOTER -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button small full color="light" >
        <ion-icon name="alert"></ion-icon> Tienes algún problema? <em>Envíanos un mensaje</em>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<!-- END FOOTER -->
