<!-- HEADER -->
<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><small>Torrespacio</small>Servicio Item</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<!-- END HEADER -->
<!-- CONTENT -->
<ion-content> 
  <ion-grid no-padding>
    <!-- PANEL content noticias /////////////////////////////////////////////////////////////    -->
    <ion-row class="panel-content">
      <ion-col col-12>
        <ion-item class="hero-header hero-header-bg">
          <ion-item class="hero-header-content">
            <h1>Espacio 33</h1>
            <ion-row class="hero-header-bottom">
              <ion-col>
                <ion-note>RESTAURACIÓN | 128 PERS.</ion-note>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-item>
        <ion-slides class="slides-small">
          <ion-slide>
            <img src="https://picsum.photos/100/50"/>
          </ion-slide>
          <ion-slide>
            <img src="https://picsum.photos/100/50"/>
          </ion-slide>
          <ion-slide>
            <img src="https://picsum.photos/100/50"/>
          </ion-slide>
          <ion-slide>
            <img src="https://picsum.photos/100/50"/>
          </ion-slide>
          <ion-slide>
            <img src="https://picsum.photos/100/50"/>
          </ion-slide>
          <ion-slide>
            <img src="https://picsum.photos/100/50"/>
          </ion-slide>
          <ion-slide>
            <img src="https://picsum.photos/100/50"/>
          </ion-slide>
          <ion-slide>
            <img src="https://picsum.photos/100/50"/>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <!-- END PANEL content noticias //////////////////////////////////////////////////////////    -->
  </ion-grid> 
</ion-content>
<!-- END CONTENT -->

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button small full color="light" >
        <ion-icon name="alert"></ion-icon> Tienes algún problema? <em>Envíanos un mensaje</em>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<!-- END FOOTER -->