<!-- HEADER -->
<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="return-left"></ion-icon>
    </button>
    <ion-title><small>Torrespacio</small>Buscador</ion-title>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<!-- END HEADER -->
<!-- CONTENT -->
<ion-content> 
  <ion-grid>
    <!-- PANEL content noticias /////////////////////////////////////////////////////////////    -->
    <ion-row class="panel-content">
      <ion-col col-12>
        <ion-list inset class="search-list">
          <ion-list-header>
            Resultados para: <strong>tod</strong>
          </ion-list-header>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="https://picsum.photos/100/100"/>
            </ion-thumbnail>
            <h2>Por encima de tod</h2>
            <p>Noticias</p>
            <button ion-button clear icon-only item-end>
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-item>
          <ion-item>
            <h2>Espacio 33</h2>
            <p>Servicios</p>
            <button ion-button clear icon-only item-end>
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <!-- END PANEL content noticias //////////////////////////////////////////////////////////    -->
  </ion-grid> 
</ion-content>
<!-- END CONTENT -->