// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// GLOBAL///////////////////////////////////////////////////////////
a{
    text-decoration: none;
    &:hover, &:active, &:focus{
        color: secondary;
    } 
}

.panel-content{
    padding: 1rem $s-small 6rem;
    margin-left: $s-n-small;
    margin-right: $s-n-small;
    &.panel-primary{
        background: color($colors, primary, base);
    }
    &.panel-light{
        background: color($colors, light, base);
    }
}

// LIST ///////////////////////////////////////////////////////////
.list, .list-ios{
    margin: 0 0 $s-normal;
    &[inset]{
        margin: 0 0 $s-normal;
    }
    &.search-list{
        .list-header{
            text-transform: uppercase;
            font-size: $f-p;
            letter-spacing: $space-letter-small;
            margin: 0;
            padding: 0;
            strong{
                color: color($colors, primary, base);
            }
        }
        .item{
            padding: 0;
            .item-inner{
                .input-wrapper{
                    .label{
                        white-space: inherit;
                        h2{
                            font-size: $f-mini-title;
                        }
                    }
                }
            }
        }
    }
    &.list-md{
        margin: 0 0 $s-normal;
    }
}

// ui header Buscador ///////////////////////////////////////////////////////////
.toolbar{
    .item{
        background: none;
        .item-inner{
            border: none;
        }
    }
    // ui header Buscador ///////////////////////////////////////////////////////////
    .searchbar{
        .searchbar-input{
            background: none;
            color: color($colors, white, base);
            font-size: $f-mini-title;
        }
    }
    // ui header Select ///////////////////////////////////////////////////////////
    .select{
        color: color($colors, white, base);
        font-size: $f-mini-title;
    }
    .label{
        color: color($colors, white-op-8, base);
        font-size: $f-mini-title;
    }
}


// MENU ///////////////////////////////////////////////////////////
.menu-inner{
    .content{
        background:  color($colors, dark, base) url('../../img/logo.jpg');
        &.content-md, &.content-ios{
            background:  color($colors, dark, base);
            color: color($colors, white, base);
            .list, .list-ios{
                border-bottom: color($colors, white-op-2, base) solid 1px;
                .item, .item-ios{
                    background: none;
                    
                    color: color($colors, white-op-5, base);
                    padding: 0 $s-normal;
                    .item-inner{
                        background: none;
                        border: none;
                        .input-wrapper{
                            .label{
                                font-size: $f-h2;
                                font-weight: $w-light;
                            }
                        }
                    }
                    &:last-child{
                        border: none;
                    }
                    &:first-child{
                        border: none;
                    }
                    &.activated{
                        color: color($colors, white, base);
                        .item-inner{
                            .input-wrapper{
                                .label{
                                    font-weight: $w-bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// HEADER - toolbar ///////////////////////////////////////////////////////////
.toolbar{
    background: color($colors, dark, base);
    .toolbar-background{
        background: color($colors, dark, base);
    }
    .toolbar-content{
        .title{
            .toolbar-title{
                color: color($colors, white, base);
                font-weight: $w-light;
                text-transform: uppercase;
                letter-spacing: $space-letter-small;
                small{
                    display: block;
                    color: color($colors, white-op-5, base);
                    font-size: $f-small;
                }
            }   
        }
    }
}
// CONTENT  ///////////////////////////////////////////////////////////
.content{
    h1{
        font-size: $f-h1; 
        &.main-title{
            color: color($colors, dark-op-5, base);
            font-weight: $w-light;
            strong{
                color: color($colors, dark, base); 
                display: block;
            }
        }
    }
    h2{
        font-size: $f-h2; 
    }
    h3{
        font-size: $f-h3; 
    }
    h4{
        font-size: $f-h4; 
    }
    h5{
        font-size: $f-h5; 
    }
    h6{
        font-size: $f-h6; 
    }
    .section-title{
        font-size: $f-h6; 
        text-transform: uppercase;
        letter-spacing: $space-letter-mini;
        margin-bottom: -1rem;
        strong, a{
            display: inline-block;
        }
        &.section-title-light{
            color: color($colors, white, base);
        }
    }
    .section-link-footer{
        font-size: $f-h6; 
        position: relative;
        z-index: 5;
        text-transform: uppercase;
        letter-spacing: $space-letter-mini;
        margin-top: $s-n-normal;
        text-align: right;
        background: none;
        border: none;
        strong, a, button{
            border: none;
            display: inline-block;
        }
        &.section-link-footer-light{
            color: color($colors,  white-op-8, base);
            strong, a{
                color: color($colors,  white-op-8, base);
            }
        }
        .item-inner{
            border: none;
            .label{
                padding: 0;
                margin: 0;
            }
        }
    }
}
// CARDS  ///////////////////////////////////////////////////////////
.card{
    &.big-card {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        .card-buttons{
            background: color($colors, primary, base);
            padding: 0;
            .item-inner{
                padding: 0;
                width: 100%;
                margin: 0;
            }
            .label {
                padding: 0 $s-small;
                width: 100%;
                margin: 0;
                line-height: 0;
                height: auto;
            }
            .label-ios{
                padding: 0;
            }
            .button{
                margin: 0;
            }
        }
        .card-link{
            position: relative;
            display: block; 
        }
        .card-body {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: color($colors, dark, base);
            background: $b-gradient-moz;
            background: $b-gradient-webkit;
            background: $b-gradient-webkit-linear;
            background: $b-gradient-o;
            background: $b-gradient-ms;
            background: $b-gradient-linear;
            filter: $b-gradient-filter;
            padding: 1rem;
            .card-title{
                color: color($colors, white, base);
                font-size: $f-h3;
                font-weight: $w-bold;
                padding-bottom: 1rem;
                white-space: normal;
            }
            .card-subtitle{
                color: color($colors, white, base);
                strong{
                    color: color($colors, primary, base);
                }
            }
        }
        .card-footer{
            border-top: solid 1px color($colors, white-op-2, base);
            .col{
                display: flex;
            }
            .note, .card-subtitle{
                font-size: $f-p;
                text-transform: uppercase;
                line-height: $f-p;
                margin: 0;
            }
            .note{
                display: block;
                width: 100%;
            }
        }
    }
    &.bg-card {
        .card-footer{
            .note{
                text-align: right;
            }
        }
    }
    &.max-card {
        width: 100%;
        box-shadow: none;
        overflow: inherit;
        margin-bottom: $s-big;
        .card-link{
            overflow: hidden;
            border-radius: 2px 2px 0 0;
        }
        .card-text{
            position: relative;
            background: color($colors, dark, base);
            color: color($colors, white, base);
            p{
                color: color($colors, white, base);
            }
            &:before, &:after{
                content: "";
                display: block;
                position: absolute;
                top: -100px;
                bottom: -20px;
                background: color($colors, dark, base);
            }
            &:before{
                right: 100%;
                left: -9000px;
            }
            &:after{
                right: -9000px;
                left: 100%;
            }
        }
    }
    &.compact-card{
        h4{
            font-size: $f-mini-title;
            font-weight: $w-bold;
            color: color($colors, primary, base);
            white-space: normal;
        }
        p{
            small{
                text-transform: uppercase;
                letter-spacing: $space-letter-mini;
                color: color($colors, dark, base); 
            }
        }
    }
}
// HERO HEADERS  ///////////////////////////////////////////////////////////
.hero-header{
    &.hero-header-bg{
        text-align: left;
        padding: 0;
        margin: 0;
        background: color($colors, dark, base);
        .item-inner{
            padding: 0;
            .label{
                margin: 0;
                .item{
                    background: none;
                    color: color($colors, white, base); 
                }
            }
        }
    }
}

// SLIDES  ///////////////////////////////////////////////////////////
.slides{
    &.slides-small{
        .swiper-container{
            height: 50px;
            .swiper-wrapper{
                height: 50px;
                .swiper-slide{
                    width: 100px !important;
                    height: 50px;
                }
            }
        }
    }
    &.slides-special{
        width: auto;
        margin: 0 $s-n-normal;
        .swiper-container{
            .swiper-wrapper{
                .swiper-slide{
                    .slide-zoom{
                        padding: 0 0 0 $s-normal;
                    }
                    .card{
                        width: calc(100% - 50px);
                        margin-left: -30px;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                    &.swiper-slide-active{
                        .card{
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }  
    &.slides-special-compact{
        width: auto;
        margin: 0 $s-n-normal;
        .swiper-container{
            .swiper-wrapper{
                .swiper-slide{
                    .slide-zoom{
                        padding: 0 0 0 $s-normal;
                    }
                    .card{
                        width: calc(100% - 100px);
                        margin-left: -60px;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                    &.swiper-slide-active{
                        .card{
                            margin-left: 0;
                        }
                    }
                }
            }
        }        
    }
    &.slides-special-mini{
        width: auto;
        margin: 0 $s-n-normal;
        .swiper-container{
            .swiper-wrapper{
                .swiper-slide{
                    width: 100px !important;
                    .slide-zoom{
                        padding: 0 0 0 $s-normal;
                    }
                    .card{
                        width: 100%;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
            }
        } 
    }   
}
// FOOTER  ///////////////////////////////////////////////////////////
.footer{
    .bar-button-small{
        font-size: $f-h6;
        text-transform: inherit;
        .icon{
            margin-right: $s-small;
            font-size: $f-h3;
        }
        em{
            margin-left: $s-small;
            color: color($colors, primary, base);
        }
    }
}


// BUTTONS  ///////////////////////////////////////////////////////////
.button, .bar-button{
    box-shadow: none;
    border-radius:2px; 
    em{
        font-style: normal;
        text-decoration: underline;
    }
}
// IOS styles
// --------------------------------------------------
.bar-button-default-ios{
    color: color($colors, white, base);
}
.button{
    text-transform: uppercase;
}


// MATERIAL styles
// --------------------------------------------------
.bar-button-default-md{
    color: color($colors, white, base);
}